/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #fff;
$secondary-background: #eaeaea;

body {
  background-color: $primary-background;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;

  h1 {
    align-self: flex-end;
  }

  img {
    width: 100px;
  }
}

main {
  form {
    height: 300px;

    #form__div--top {
      display: flex;

      .form--section {
        text-align: center;
        border: 1px solid black;
        background-color: $secondary-background;
        margin: auto;

        input {
          width: 90%;
          padding: 10px;
          margin: 5px;
        }
      }
    }

    #form__div--bottom {
      display: flex;
      justify-content: center;

      button {
        padding: 10px;
        width: 50%;
        margin: 10px;
        border: 1px solid black;
        background-color: $secondary-background;
      }
    }
  }
  #players__div {
    display: flex;
    justify-content: space-around;

    .players--player {
      border: 1px solid black;
      background-color: $secondary-background;
      width: 45%;
      text-align: center;
    }
  }

  #radar__div {
    border: 1px solid black;
    background-color: $secondary-background;
    width: 80%;
    margin: 10px auto;
    text-align: center;
  }
}
